html{
	margin: 0;
	padding: 0;
	height: 100%
}  
  
body {	
    background:url('../images/night_sky_stars_bg.png');
    background-repeat:repeat-x, repeat-y;
    background-color:#95c0e4; 
	font-family: verdana, sans-serif, arial, helvetica;
	font-size: 16px;
	color:#000000;
	margin: 0;
	padding: 0;
	height: 100%;
}

#content {
	margin: 0 auto;
	width: 900px;
	padding: 5px;
	background-color: #000000;
	color:#FFFFFF;
}
